gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
# Firebase
android/app/google-services*.json

# Release keystore
android/key.properties
android/app/*.jks
**/*.keystore
**/*.jks